<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="../index.html">JAVASCRIPT</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
	 aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>




<div class="jumbotron container col-md-4 my-5">
	<div class="col-md-10">
	<label  class="form-control-label">Ingrese lo que quiera:</label>
	<input type="text" class="form-control" ng-model="msg" autofocus>
	</div>
</div>

<div class="jumbotron container col-md-4 my-5">
{{msg}}
</div>