<body >
  <div class="col-md-4 col-md-offset-4 " style="margin-top: 10%">
    <h2> Services <b>RestFull</b> </h2>
  </div>
  <div class="container col-md-4 col-md-offset-4 ">
    <button ui-sref="paginaGet" class="btn btn-success col-md-8">Método GET</button>
    <button ui-sref="paginaPost" class="btn btn-success col-md-8">Método POST</button>
    <button ui-sref="paginaPut" class="btn btn-success col-md-8">Método PUT</button>
    <button ui-sref="paginaDelete" class="btn btn-success col-md-8">Método DELETE</button>
  </div>
</body>